.dashboard-panel
  .list-group-item
    display flex
    align-items center
    justify-content space-between
    
    input[type='checkbox']
      margin 0 10px 0 0

    .actions
      display flex
      align-items center
      justify-content space-between
      
      &.left-actions
        label
          margin 0
          padding-right 10px
          
      &.animated
        visibility hidden
        
    &:hover
      .actions
        &.animated
          visibility visible
          
  .alert
    width 100%
    margin 10px 0
