.dashboard-panel
  .panel-heading
    display flex
    align-items center
    justify-content space-between
  
  .panel-actions-overlap
    .btn-group
      margin 0 4px
      
      &:first-child
        margin-left 0
        
      &:last-child
        margin-right 0
