$icon-font-path = "~bootstrap-styl/fonts/"
@import 'bootstrap';

html
  font-size 16px
  line-height 20px
  
a
  cursor pointer

img, 
textarea
  max-width 100%

.react-datepicker__input-container
  display block
