$icon-font-path = "~bootstrap-styl/fonts/"
@import 'bootstrap';

html
  font-size 16px
  line-height 20px
  
a
  cursor pointer

p
  font-size 1rem
  &.sm
    font-size .9rem

img, 
textarea
  max-width 100%
